h2 {
    color: orange;
}

button {
    background-color: blue;
    color: white;
}

p {
    background-color: black;
    color: white;
}

#yo{
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-weight: 900;
    font-size: 55px;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
} 

p {
    color: brown;
    text-align: center;
    line-height: 30px;
}

h1 {
    text-align: center;
    color: red;
    font-family: Georgia;
}

h3 {
    text-align: center;
    color: black;
}

a {
    text-decoration: none;
    color: green;
}

button {
    background-color: white;
    color: blueviolet;
}

textarea {
    color: black;
}
    
span {
    text-decoration: underline;
}