<%- include("includes/head.ejs")%>
  <body>
    <h1>This is Home Page</h1>
    <h3><%= 1+2 %></h3>
    <!-- js  output will be html string always trying to make dynamic html-->
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto doloribus
      ut amet, magni iste voluptatem in mollitia voluptatum pariatur, dolorem
      esse libero laudantium tenetur doloremque laborum assumenda deleniti,
      delectus quam.
    </p>
    <button>Click Me!</button>
    <%- include("includes/footer.ejs")%>
  </body>
</html>
