<%- include("includes/head.ejs")%>
  <body>
    <h1>Your Dice gave value <%= diceVal %></h1>
    <%if(diceVal==6){ %>
    <h1>Nice! Roll Dice Again</h1>
    <%}%>
    <!-- can write like this also
    <h1>Your Dice gave value <%= Math.floor(Math.random()*6)+1 %></h1> -->
    <%- include("includes/footer.ejs")%>
  </body>
</html>
